# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/

# Dipendenze
node_modules/


# File temporanei e di sistema
*.tmp
*.temp
*.swp
.DS_Store

# Cache di npm
.npm

# Cartelle di test temporanee
coverage/
